/* CSS Reset
v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Font family */
.roboto-thin {
  font-family: "Roboto", system-ui;
  font-weight: 100;
}

.roboto-regular {
  font-family: "Roboto", system-ui;
  font-weight: 400;
}

.roboto-bold {
  font-family: "Roboto", system-ui;
  font-weight: 700;
}

.roboto-black {
  font-family: "Roboto", system-ui;
  font-weight: 900;
}

/* Color Scheme */
:root {
  --aboutus-color: #cccccc;
  --bg-color: linear-gradient(
    to bottom,
    rgba(239, 239, 239, 1) 0%,
    rgba(204, 204, 204, 1) 100%
  );
  --footer-color: linear-gradient(
    to bottom,
    rgba(112, 0, 160, 1) 0%,
    rgba(160, 0, 155, 1) 100%
  );
  --form-color: #888888;
  --introduction-color: #cd7fff;
  --primary-color: #121215;
  --rectangle-color: #121215;
  --rectangle2-color: #b1b2b5;
  --secondary-color: #000000;
  --third-color: #444444;
  --footer-text-color: #ffffff;
  --svg-icon-color: #121215;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  :root {
    --aboutus-color: #242430;
    --bg-color: linear-gradient(
      to bottom,
      rgba(18, 18, 21, 1) 0%,
      rgba(38, 38, 41, 1) 100%
    );
    --footer-color: linear-gradient(
      to bottom,
      rgba(112, 0, 160, 1) 0%,
      rgba(160, 0, 155, 1) 100%
    );
    --form-color: #888888;
    --introduction-color: #7000a0;
    --primary-color: #ffffff;
    --rectangle-color: #f9faff;
    --rectangle2-color: #b1b2b5;
    --secondary-color: #000000;
    --third-color: #aaaaaa;
    --footer-text-color: #ffffff;
    --svg-icon-color: none;
  }
}

@media (prefers-color-scheme: light) {
  .text {
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.9);
  }
}

/* Main style */
html {
  width: auto;
  height: auto;
  background: var(--primary-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  padding: 0;
}

body {
  border-radius: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: start;
  background: var(--bg-color);
}

/* Index.html */
.container {
  width: 1440px;
  height: 1024px;
  background: var(--bg-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  gap: 50px;
}

.acme {
  font-family: "Roboto";
  font-size: 64px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 15px;
  color: var(--primary-color);
  text-decoration: none;
}

.rectangle {
  width: 1px;
  min-height: 243px;
  background: var(--rectangle-color);
  box-sizing: border-box;
  margin-right: 30px;
}

.section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  gap: 24px;
}

.company,
.service,
.contact {
  font-family: "Roboto";
  font-size: 54px;
  font-weight: 100;
  color: var(--third-color);
  text-decoration: none;
}

.company {
  width: 343px;
}

.service {
  width: 381px;
}

.contact {
  width: 234px;
}

/* company.html */
/* first section ( header, navbar) */

.hamburger {
  display: none;
}

.container2 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  align-content: stretch;
  justify-content: start;
}

.top {
  width: 1440px;
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  padding: 0px 32px 0px 32px;
}

.logo {
  width: 832px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo2 {
  width: 178px;
  height: 40px;
  color: var(--primary-color);
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 100;
  line-height: 1;
  text-decoration: none;
}

.navigation {
  width: auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
}

.company2,
.service2,
.contact2 {
  width: 160px;
  height: 24px;
  color: var(--third-color);
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
}

.company2 {
  font-weight: 700;
  color: var(--primary-color);
}

.rectangle2 {
  width: 100%;
  height: 1px;
  background: var(--rectangle2-color);
}

/* second section (laptop img) */
.website {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.image1 {
  display: flex;
  padding: 80px;
}

.image {
  background: url(https://design.penpot.app/assets/by-file-media-id/4192f1dd-455b-8162-8004-bbf59862bd9c)
    no-repeat center center / cover;
  width: 628px;
  height: 471px;
}

.services {
  width: 652px;
  height: 471px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.servicebottom {
  width: 242px;
  height: 30px;
  color: var(--primary-color);
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
}

.text {
  position: absolute;
  left: 529px;
  top: 236px;
  color: var(--primary-color);
  font-family: "Roboto";
  font-size: 120px;
  font-weight: 400;
  line-height: 1.2;
}
.text2 {
  position: absolute;
  left: 529px;
  top: 374px;
  color: var(--primary-color);
  font-family: "Roboto";
  font-size: 120px;
  line-height: 1.2;
}

/* third section ( about us) */
.container3 {
  max-width: 1440px;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}

.aboutus {
  width: 290px;
  height: 48px;
  color: var(--aboutus-color);
  font-family: "Roboto";
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 80px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.column1,
.column2,
.column3 {
  width: 393.33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.picture {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  background: url(https://design.penpot.app/assets/by-file-media-id/3d04e89b-bff0-8115-8004-bc2cd8553229)
    no-repeat center center / cover;
}

.rita,
.szilvi,
.dezso {
  width: 100%;
  height: 216px;
  color: var(--aboutus-color);
  font-family: "Roboto";
  font-size: 30px;
  line-height: 1.2;
}

.rita {
  font-style: italic;
}

.member1,
.member2,
.member3 {
  height: 29px;
  color: var(--introduction-color);
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.2;
}

.member1 {
  width: 168px;
}

.member2 {
  width: 120px;
}

.member3 {
  width: 117px;
}

/* Fourth section ( Introduction) */
.container4 {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 80px;
}

.about {
  width: 251px;
  height: 48px;
  color: var(--primary-color);
  font-family: "Roboto";
  font-style: italic;
  font-size: 40px;
}

.textforus {
  width: 100%;
  height: 490px;
  color: var(--primary-color);
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.2;
}

.textforus p {
  margin-bottom: 20px;
}

/* Fifth section ( footer ) */
.footer {
  width: 100%;
  height: 300px;
  background: var(--footer-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign {
  width: 927px;
  height: 144px;
  color: var(--footer-text-color);
  font-family: "Roboto";
  font-size: 120px;
  letter-spacing: 200px;
}

/* Services.html */
/* First section (Header) */
.company3,
.service3,
.offer,
.description {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1;
}

.company3,
.service3,
.contact3 {
  width: 160px;
  height: 24px;
  color: var(--third-color);
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
}
.company3 {
  color: var(--third-color);
}

.service3 {
  color: var(--primary-color);
}

.contact3 {
  color: var(--third-color);
}

.container5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 80px;
}

.ourservice {
  width: 289px;
  font-family: "Roboto";
  font-style: italic;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--primary-color);
}

.container5a,
.container5b {
  width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}

.flexbox1,
.flexbox2,
.flexbox3,
.flexbox4,
.flexbox5,
.flexbox6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  flex: 1;
}

.vector1,
.vector2,
.vector3,
.vector4,
.vector5,
.vector6 {
  height: 64px;
  fill-rule: evenodd;
  clip-rule: evenodd;
  background: var(--svg-icon-color);
}

.vector1 {
  width: 125px;
}
.vector2 {
  width: 58px;
}
.vector3 {
  width: 85px;
}
.vector4 {
  width: 57px;
}
.vector5 {
  width: 66px;
}
.vector6 {
  width: 55px;
}

.offer {
  width: 100%;
  font-weight: 700;
  line-height: 1.2;
  color: var(--primary-color);
}

.description {
  width: 100%;
  font-weight: 400;
  line-height: 1.2;
  color: var(--primary-color);
}

/* contact.html */

/* First section ( Header ) */

.company4,
.service4,
.contact4 {
  color: var(--third-color);
  font-family: "Roboto";
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  flex-shrink: 0;
  text-decoration: none;
}

.company4,
.service4,
.contact4 {
  width: 160px;
  height: 24px;
  color: var(--third-color);
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
}

.contact4 {
  color: var(--primary-color);
}

/* second section */

.container7 {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 80px;
}

.contactus {
  width: 175px;
  height: 48px;
  color: var(--primary-color);
  font-family: "Roboto";
  font-style: italic;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 400;
}

.map {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 80px;
}

.contactme {
  height: 749px;
  color: var(--primary-color);
  font-family: "Roboto";
  font-style: italic;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  flex: 1;
}

.livemap {
  width: 470px;
  height: 749px;
  border-radius: 0px;
  padding-right: 80px;
}

.contactme p {
  margin-bottom: 20px;
}

/* Third Section (form) */

.user-form {
  width: 100%;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 32px;
  padding: 80px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 100px;
}

.username,
.email,
.mobile {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
}

.name,
.address,
.number {
  color: var(--aboutus-color);
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  flex-shrink: 0;
}

.name {
  width: 42px;
  height: 40px;
}

.address {
  width: 116px;
  height: 40px;
}

.number {
  width: 140px;
  height: 40px;
}

.rectangle3 {
  width: 100%;
  height: 3px;
  background: var(--introduction-color);
}

#username,
#email,
#mobile {
  width: 100%;
  height: 50px;
  background: var(--form-color);
}

.username {
  padding-left: 80px;
}

.message {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  padding-left: 80px;
}

.container8 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 100px;
}

.message2 {
  width: 76px;
  height: 24px;
  color: var(--aboutus-color);
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.rectangle4box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#rectangle {
  width: 100%;
  height: 120px;
  background: var(--form-color);
  flex-shrink: 0;
}

.rectangle4 {
  width: 100%;
  height: 3px;
  background: var(--introduction-color);
}

.send1 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  gap: 100px;
}

.send2 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  gap: 16px;
}

.send3 {
  width: auto;
  height: auto;
  background: var(--footer-color);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  padding: 24px 100px 24px 100px;
}

.send {
  width: 112px;
  height: 24px;
  background-color: var(--footer-color);
  color: var(--footer-text-color);
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send:hover {
  background-color: #0056b3;
}

/* Responsive layout */

/* Media Query for Mobile Devices */

/* index.html */

@media (max-width: 375px) {
  html {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    padding: 0px 0px 0px 0px;
  }

  .indexbody {
    width: 375px;
    height: 667px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
  }

  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    gap: 50px;
    background: none;
  }

  .acme {
    color: var(--footer-text-color);
    font-family: "Roboto";
    font-style: normal;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 10px;
    text-decoration: none;
    text-transform: none;
  }

  .rectangle {
    width: 100%;
    height: 1px;
    min-height: 1px;
    color: var(--footer-color);
  }

  .section {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: start;
    gap: 24px;
  }

  .company,
  .service,
  .contact {
    font-size: 36px;
    width: auto;
    text-align: center;
  }

  /* company.html */

  .companybody {
    width: 375px;
    height: auto;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: start;
  }
  .container2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
  }
  .company2,
  .service2,
  .contact2 {
    display: none;
  }
  .hamburger {
    display: flex;
    width: 48px;
    height: 48px;
  }
  .top {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    padding: 0px;
  }
  .logo {
    width: 375px;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    flex: 1;
    padding: 24px;
  }
  .logo2 {
    width: 178px;
    height: 40px;
    color: var(--footer-text-color);
  }
  .aboutus {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .about {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .website {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
  }
  .image1 {
    width: 375px;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    flex: 1;
    padding: 0px;
  }
  .image {
    width: 375px;
    height: 100%;
    border-radius: 0px;
    background: url(https://design.penpot.app/assets/by-file-media-id/4192f1dd-455b-8162-8004-bbf59862bd9c)
      no-repeat center center / cover;
    flex: 1;
  }
  .services,
  .servicebottom {
    display: none;
    width: 0px;
    height: 0px;
  }
  .text {
    width: 303px;
    height: 120px;
    left: 55px;
    top: 113px;
    color: var(--footer-text-color);
    font-family: "Roboto";
    font-style: normal;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    display: flex;
  }
  .text2 {
    width: 303px;
    height: 120px;
    left: 115px;
    top: 172px;
    position: absolute;
    color: var(--footer-text-color);
    font-family: "Roboto";
    font-style: normal;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    display: flex;
  }
  .rita,
  .szilvi,
  .dezso {
    align-self: start;
  }
  .member1,
  .member2,
  .member3 {
    align-self: end;
  }
  .container3 {
    width: 100%;
    height: auto;
    background: var(--footer-text-color);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: start;
    gap: 32px;
    padding: 0px;
  }
  .row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: space-between;
    gap: 50px;
  }
  .column1,
  .column2,
  .column3 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: start;
    gap: 50px;
  }
  .container4 {
    width: 100%;
    max-width: 375px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    padding: 0px;
    gap: 0px;
  }
  .textforus {
    width: 75%;
    height: auto;
    font-size: 18px;
  }
  .footer {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
  }
  .sign {
    width: 261px;
    height: 48px;
    font-size: 40px;
    letter-spacing: 50px;
  }

  /* services.html */

  .company3,
  .service3,
  .contact3 {
    display: none;
  }

  .servicebody {
    width: 375px;
    height: auto;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: start;
  }

  .container5 {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    gap: 64px;
    padding: 32px 32px 32px 32px;
  }

  .ourservice {
    width: 289px;
    height: 48px;
  }

  .container5a,
  .container5b {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    gap: 50px;
  }

  .flexbox1,
  .flexbox2,
  .flexbox3,
  .flexbox4,
  .flexbox5,
  .flexbox6 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: start;
    gap: 32px;
  }

  .offer {
    color: var(--footer-text-color);
    width: 80%;
  }

  .description {
    color: var(--footer-text-color);
  }

  /* contact.html */

  .company4,
  .service4,
  .contact4 {
    display: none;
  }

  .contactbody {
    width: 375px;
    height: auto;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: start;
  }

  .container7 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    gap: 64px;
    padding: 32px 32px 32px 32px;
  }

  .contactus {
    width: 175px;
    height: 48px;
  }

  .map {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: space-between;
    gap: 32px;
  }

  .contactme {
    width: 100%;
    height: 756px;
    font-size: 18px;
  }

  .livemap {
    width: 100%;
    height: 400px;
    border-radius: 0px;
  }
  /* form */
  .user-form {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: start;
    gap: 32px;
    padding: 32px 32px 32px 32px;
  }
  .form-group {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    gap: 32px;
  }
  .username,
  .email,
  .mobile {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    padding: 0px;
  }
  .container8 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    gap: 100px;
  }
  .message {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    gap: 16px;
    flex: 1;
  }
  .message {
    padding: 0px;
  }
  .rectangle4box {
    width: 100%;
    height: auto;
  }
  #email,
  #mobile,
  #rectangle,
  #username {
    padding: 0px;
  }
  .send3 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    padding: 16px 48px 16px 48px;
  }
}
